// body {
//   background-color: #121212;
//   font-family: "Montserrat", sans-serif;
// }
* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: CircularSp;
  src: url(./CircularSp.woff) format("woff");
  font-weight: 400;
}

//Footer background
@mixin promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  display: flex;
  justify-content: space-between;
}

// Paragraph for the footer
@mixin promotion-paragraph {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 2;
}

// Heading for the footer
@mixin promotion-header {
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

// Mobile Screen Size
@media (max-width: 400px) {
  .promotion h6 {
    @include promotion-header();
    font-size: 13px;
  }

  .promotion p {
    @include promotion-paragraph();
  }

  .promotion {
    @include promotion();
    padding: 11px 24px 7px 15px;
  }
}

// Tablet screen size
@media (max-width: 800px) {
  .promotion h6 {
    @include promotion-header();
    font-size: 14px;
  }

  .promotion p {
    @include promotion-paragraph();
  }

  .promotion {
    @include promotion();
    padding: 11px 24px 7px 15px;
  }
}

// Large screen sizes
.promotion {
  @include promotion();
  padding: 15px 40px;
  overflow: hidden;
}

.promotion button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 200px;
}

.promotion h6 {
  @include promotion-header();
  font-size: 14px;
}

.promotion p {
  @include promotion-paragraph();
}
.promotion-text {
  min-width: 600px;
}

// @mixin card {
//   display: flex;
//   gap: 20px;
//   overflow: hidden;
//   min-width: 140px;
//   width: 160px;
//   padding: 15px;
//   background-color: #181818;
//   border-radius: 6px;
//   cursor: pointer;
//   transition: all ease 0.4s;
// }

// .card li {
//   @include card();
// }
