* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: CircularSp;
  src: url(./CircularSp.woff) format("woff");
  font-weight: 400;
}
@media (max-width: 400px) {
  .promotion h6 {
    font-family: CircularSp;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .promotion p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    flex-shrink: 2;
  }
  .promotion {
    margin-top: 31%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 11px 24px 7px 15px;
  }
}
@media (max-width: 800px) {
  .promotion h6 {
    font-family: CircularSp;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .promotion p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    flex-shrink: 2;
  }
  .promotion {
    margin-top: 31%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 11px 24px 7px 15px;
  }
}
.promotion {
  margin-top: 31%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 15px 40px;
  overflow: hidden;
}

.promotion button {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.promotion button:hover {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.promotion h6 {
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}

.promotion p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 2;
}

.promotion-text {
  min-width: 600px;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
  background-color: #090909;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  min-width: 750px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-left: 300px;
}

.topbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
  color: #ffffff;
  font-size: 15px;
}

.navbar .login-button button {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #ffffff;
}

.navbar .login-button button:hover {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.topbar .navbar ul li.divider {
  color: #b3b3b3;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.nav-wrapper {
  position: fixed;
  width: 310px;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
}

.sidecard {
  list-style: none;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #000000;
  padding: 15px;
  width: 190px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.playlists.sidecard {
  margin-top: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 15px;
  padding: 10px;
  width: 270px;
  margin-left: 5px;
}

.playlists.sidecard h3 {
  color: white;
}

.playlists.sidecard p {
  color: white;
  font-size: 12px;
}

.podcasts.sidecard {
  background-color: rgb(29, 29, 29);
  border-radius: 15px;
  width: 260px;
  margin-left: 5px;
}

.podcasts.sidecard h3 {
  color: white;
}

.podcasts.sidecard p {
  color: white;
  font-size: 12px;
}

.top-left {
  position: relative;
  border-bottom: 30px;
  width: 270px;
  margin-left: 5px;
}

.top-left ul li {
  list-style: none;
  margin-top: 5px;
  border-radius: 20px;
}

.top-left ul li:hover {
  font-size: 14px;
  font-family: CircularSp;
  color: #f2f2f2;
}

.home-image {
  margin-top: 5px;
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 30px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(103%);
}

.home-image path {
  fill: white;
}

.search-image {
  margin-top: 5px;
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 30px;
  filter: invert(90%) sepia(0%) saturate(2326%) hue-rotate(136deg) brightness(89%) contrast(65%);
}

.search-image:hover {
  margin-top: 5px;
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(296deg) brightness(107%) contrast(107%);
}

.logo {
  margin-top: 5px;
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 80px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(103%);
}

.librarycard {
  list-style: none;
  margin-top: 5px;
  border-radius: 20px;
  background-color: #181818;
  position: fixed;
  height: 66.5%;
  width: 300px;
  margin-left: 5px;
}

.librarycard h2 {
  margin-left: 15px;
  margin-top: 14px;
  color: #b3b3b3;
  font-size: 14px;
}

.librarycard h2:hover {
  margin-left: 15px;
  margin-top: 14px;
  color: #f2f2f2;
  font-size: 14px;
}

.librarycard h3 {
  color: #b3b3b3;
  font-size: 20px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.librarycard h3:hover {
  color: #f2f2f2;
  font-size: 35px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.librarycard img.cds {
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 30px;
  margin-right: 10px;
  filter: invert(90%) sepia(0%) saturate(2326%) hue-rotate(136deg) brightness(89%) contrast(65%);
}

.librarycard img.cds:hover {
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(296deg) brightness(107%) contrast(107%);
}

.librarycard img.plus {
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 20px;
  margin-left: 95px;
  filter: invert(90%) sepia(0%) saturate(2326%) hue-rotate(136deg) brightness(89%) contrast(65%);
}

.librarycard img.plus:hover {
  border-radius: 20px;
  z-index: 10;
  position: relative;
  width: 20px;
  filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(296deg) brightness(107%) contrast(107%);
}

.playlists > button {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.playlists > button:hover {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.podcasts > button {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.podcasts > button:hover {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.cookies {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15%;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  left: 25px;
}

.cookies:hover {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 15%;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  left: 25px;
  text-decoration: underline;
}

.language {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 125px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 3%;
  left: 18px;
  display: inline-flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  border-radius: 92px;
  background-color: black;
  padding: 3px;
  padding-right: 9px;
  margin-right: 1rem;
  border: 1px solid white;
}

.language:hover {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 125px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 3%;
  left: 18px;
  display: inline-flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  border-radius: 92px;
  background-color: black;
  padding: 3px;
  padding-right: 9px;
  margin-right: 1rem;
  border: 2px solid white;
}

.language img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  margin-left: 10px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(102%) contrast(103%);
}

.spotify-playlists {
  padding: 20px 40px;
}

.spotify-playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.spotify-playlists .playlist-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.spotify-playlists .playlist-container .card {
  margin-left: 28px;
  min-width: 120px;
  width: 120px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.spotify-playlists .playlist-container .card:hover {
  background-color: #252525;
}

.spotify-playlists .playlist-container .card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.spotify-playlists .playlist-container .card h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotify-playlists .playlist-container .card p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}/*# sourceMappingURL=styles.css.map */