//Declaring CSS variables

// Button colours
$button-hover: #f2f2f2;
$button-text: #000000;

// Navigation
$navbar-default: #b3b3b3;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

//Importing font
@font-face {
  font-family: CircularSp;
  src: url(./CircularSp.woff) format("woff");
  font-weight: 400;
}

//Footer background
@mixin promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  display: flex;
  justify-content: space-between;
}

// Paragraph for the footer
@mixin promotion-paragraph {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 2;
}

// Heading for the footer
@mixin promotion-header {
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

// Mixin for the Sign up button
@mixin promotion-button {
  color: $button-text;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 200px;
  padding: 14px 30px;
}

// Mixin for the Login button
@mixin topbar-button {
  color: $button-text;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

//mixin for the sidebar-button
@mixin sidebar-button {
  color: $button-text;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
}

// Mixin for the layout of the topbar
@mixin text-decoration {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

// Mobile Screen Size
@media (max-width: 400px) {
  .promotion h6 {
    @include promotion-header();
    font-size: 13px;
  }

  .promotion p {
    @include promotion-paragraph();
  }

  .promotion {
    @include promotion();
    padding: 11px 24px 7px 15px;
  }
}

// Tablet screen size
@media (max-width: 800px) {
  .promotion h6 {
    @include promotion-header();
    font-size: 14px;
  }

  .promotion p {
    @include promotion-paragraph();
  }

  .promotion {
    @include promotion();
    padding: 11px 24px 7px 15px;
  }
}

// Large screen sizes
.promotion {
  @include promotion();
  padding: 15px 40px;
  overflow: hidden;
}

.promotion button {
  background-color: #ffffff;
  @include promotion-button();
}

.promotion button:hover {
  background-color: $button-hover;
  @include promotion-button();
  font-size: 18px;
}

.promotion h6 {
  @include promotion-header();
  font-size: 14px;
}

.promotion p {
  @include promotion-paragraph();
}
.promotion-text {
  min-width: 600px;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
  background-color: burlywood;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  min-width: 750px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

// Removing the bullet points
.topbar .navbar ul {
  list-style: none;
}

// Topbar Previous and Next Buttons
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

// Topbar list items
.topbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
  @include text-decoration();
}

// Navbar list items
.topbar .navbar ul li a {
  @include text-decoration();
}

// Hovering over the navbar
.topbar .navbar ul li a:hover {
  color: #ffffff;
  font-size: 15px;
}

// Selecting the login button
.navbar .login-button button {
  @include topbar-button();
  background-color: #ffffff;
}

// Hovering over the login button
.navbar .login-button button:hover {
  @include topbar-button();
  background-color: $button-hover;
  font-size: 18px;
}

// Selecting the divider
.topbar .navbar ul li.divider {
  color: #b3b3b3;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  background-color: blanchedalmond;
  padding: 0;
}

// Removing more bullet points
.sidecard {
  list-style: none;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #494a49;
  padding: 15px;
  width: 190px;
  height: 75px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  flex-flow: column wrap;
}

.top-left ul li {
  list-style: none;
  margin-top: 20px;
}

.librarycard {
  list-style: none;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #282928;
}

.librarycard h2 {
  color: $navbar-default !important;
  font-size: 15px;
  @include text-decoration();
  @include promotion-header();
}

.librarycard h2:hover {
  color: $button-hover !important;
  font-size: 15px;
  @include text-decoration();
  @include promotion-header();
}

.top-left ul li:hover {
  color: $button-hover;
  font-size: 15px;
  @include promotion-header();
}

.playlists > button {
  @include sidebar-button();
}

.podcasts > button {
  @include sidebar-button();
}

.cookies {
  @include text-decoration();
  display: flex;
  justify-content: space-between;
}
