* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: CircularSp;
  src: url(./CircularSp.woff) format("woff");
  font-weight: 400;
}
@media (max-width: 400px) {
  .promotion h6 {
    font-family: CircularSp;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px;
  }
  .promotion p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    flex-shrink: 2;
  }
  .promotion {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    padding: 11px 24px 7px 15px;
  }
}
@media (max-width: 800px) {
  .promotion h6 {
    font-family: CircularSp;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .promotion p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    flex-shrink: 2;
  }
  .promotion {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    display: flex;
    justify-content: space-between;
    padding: 11px 24px 7px 15px;
  }
}
.promotion {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  overflow: hidden;
}

.promotion button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 200px;
  padding: 14px 30px;
}

.promotion button:hover {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  min-width: 200px;
  padding: 14px 30px;
  font-size: 18px;
}

.promotion h6 {
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}

.promotion p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  flex-shrink: 2;
}

.promotion-text {
  min-width: 600px;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
  background-color: burlywood;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 30px;
  min-width: 750px;
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

.topbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover {
  color: #ffffff;
  font-size: 15px;
}

.navbar .login-button button {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #ffffff;
}

.navbar .login-button button:hover {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.topbar .navbar ul li.divider {
  color: #b3b3b3;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.nav-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  background-color: blanchedalmond;
  padding: 0;
}

.sidecard {
  list-style: none;
  margin-top: 10px;
  border-radius: 20px;
  background-color: #000000;
  padding: 15px;
  width: 190px;
  height: 75px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  flex-flow: column wrap;
}

.playlists.sidecard {
  margin-top: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 15px;
  padding: 10px;
  margin-left: 5px;
  height: 100px;
}

.playlists.sidecard h3 {
  color: white;
}

.playlists.sidecard p {
  color: white;
  font-size: 12px;
}

.podcasts.sidecard {
  margin-top: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 15px;
  height: 150px;
}

.podcasts.sidecard h3 {
  color: white;
}

.podcasts.sidecard p {
  margin-top: 10px;
  color: white;
  font-size: 12px;
}

.top-left {
  position: relative;
  height: 45px;
  border-bottom: 30px;
}

.top-left ul li {
  list-style: none;
  margin-top: 5px;
  border-radius: 20px;
}

.top-left ul li:hover {
  color: #f2f2f2;
  font-size: 15px;
  font-family: CircularSp;
  color: #ffffff;
}

.librarycard {
  list-style: none;
  margin-top: 5px;
  border-radius: 20px;
  background-color: #181818;
  position: fixed;
  height: 79.5%;
}

.librarycard img.cds {
  height: 30px;
  margin-right: 5px;
  margin-left: 24px;
  margin-top: 20px;
}

.librarycard img.cds:hover {
  height: 30px;
  margin-right: 5px;
  margin-left: 24px;
  margin-top: 20px;
  fill: blue;
}

.librarycard h2 {
  color: #b3b3b3 !important;
  font-size: 20px !important;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.librarycard h2:hover {
  color: #f2f2f2 !important;
  font-size: 15px;
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: CircularSp;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
}

.playlists > button {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
}

.playlists > button:hover {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
}

.podcasts > button {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
}

.podcasts > button:hover {
  color: #000000;
  font-weight: bold;
  padding: 10px 10px;
  border: 0px;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

.cookies {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 100px;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  left: 15px;
}

.cookies:hover {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 100px;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  left: 15px;
  text-decoration: underline;
}

.language {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 25px;
  left: 10px;
  display: flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  background-color: black;
  padding: 5px;
  padding-right: 20px;
  margin-right: 1rem;
  border: 1px solid white;
}

.language:hover {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 25px;
  left: 10px;
  display: flex;
  align-items: center;
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  background-color: black;
  padding: 5px;
  padding-right: 20px;
  margin-right: 1rem;
  border: 2px solid white;
}

.language img {
  height: 30px;
  margin-right: 5px;
  margin-left: 10px;
}/*# sourceMappingURL=styles.css.map */